.container {
  background-color: rgb(27, 26, 39);
  min-height: 100vh;
  min-width: 100vh;
}

.main_video_container {
  padding: 20px;
  display: flex;
  height: 100vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

/* .video_container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
} */

.video {
  height: 40%;
  width: 45%;
  margin: auto;
  border-radius: 5px;
  border: 1px solid rgba(220, 220, 220, 0.5);
}

.controller {
  position: fixed;
  bottom: 1rem;
  left: 42%;
  display: flex;
  align-items: center;
}

.controller_option {
  padding: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border: 0.1px solid rgba(255, 255, 255, 0.486);
  cursor: pointer;
  background-color: white;
  color: black;
}
.controller_option_off {
  padding: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border: 0.1px solid rgba(255, 255, 255, 0.486);
  cursor: pointer;
  background-color: rgb(228, 40, 40);
  color: rgb(255, 255, 255);
}

.end_call {
  background-color: rgb(231, 45, 45);
  color: white;
}

p {
  position: absolute;
  bottom: 1rem;
  color: white;
}
